<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>JobTable</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Personal CSS -->
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <!-- Navigationbar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-nav fixed-top">
      <a class="navbar-brand" href="#">JobTable</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a data-scroll class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a data-scroll class="nav-link" href="#">InventoryTable</a>
          </li>
          <li class="nav-item">
            <a data-scroll class="nav-link" href="#">JobTable</a>
          </li>
          <li class="nav-item">
            <a data-scroll class="nav-link" href="#">ToolTable</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/user/sign-out" method="POST">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
      </div>
    </nav>
    <!-- Navigationbar end -->

    <main role="main" class="container">

      <h2>Job Table</h2>

      <h4>Add New Job(make this a button)</h4>
      <a href="/get-data"></a>

      <table>
        <tr>
          <th>Order ID</th>
          <th>Client</th>
          <th>Order Description</th>
          <th>Job ID</th>
          <th>Task</th>
          <th>Description</th>
          <th>Due Date</th>
          <th>Assigned To</th>
          <th>Last Updated</th>
        </tr>
        <!--Import data from DB
        <div>
          <td><%=user.firstName%></td>
          <td><%=user.id%></td>
          <td><%=user.lastName%></td>
          <td><%=user.lastLogged%></td>
          <td><%=user.firstName%></td>
          <td><%=user.lastName%></td>
          <td><%=user.lastLogged%></td>
          <td><%=user.id%></td>
          <td><%=user.firstName%></td>          
        </div>
        -->
        <tr>
          <td>1</td>
          <td>The Mystery Machine</td>
          <td>Find Scooby Doo</td>
          <td>8675309</td>
          <td>Mask Off</td>
          <td>And I would have gotten away with it too, if it wasn't for you meddling kids!!</td>
          <td>12/3/1971</td>
          <td>Fred Jones</td>
          <td>12/1/1971</td>
        </tr>
        <tr>
          <td>1</td>
          <td>The Mystery Machine</td>
          <td>Find Scooby Doo</td>
          <td>1337</td>
          <td>Zoinks</td>
          <td>Help Velma Dinkley find her glasses...</td>
          <td>12/5/1971</td>
          <td>The Gang</td>
          <td>12/1/1971</td>
        </tr>
        <tr>
          <td>1</td>
          <td>The Mystery Machine</td>
          <td>Find Scooby Doo</td>
          <td>217</td>
          <td>Scooby Snacks</td>
          <td>Like, jeez Scoob! Would you do it for a Scooby Snack??</td>
          <td>12/1/1971</td>
          <td>Shaggy Rogers</td>
          <td>12/1/1971</td>
        </tr>
        <tr>
          <td>2</td>
          <td>The Daily Planet</td>
          <td>Get pictures of Spiderman</td>
          <td>0988</td>
          <td>Dafoe</td>
          <td>I'm something of a scientist myself!</td>
          <td>8/12/2000</td>
          <td>Peter Parker</td>
          <td>8/7/2000</td>
        </tr>
      </table>
      </div>

    </main>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
